body{
    background: lightseagreen;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Dancing Script', cursive;
    --ff-secondary: 'Shadows Into Light', cursive;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.23rem;
    --fs-body: 1rem;
}

@media (min-width: 800px){
    :root{
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    }
}

.about-us{
    max-width: 1000px;
    margin: 0 auto;
}