<!DOCTYPE html>
<html lang="en">

  <head>
    <!--Just added metadata and set default width and scale. This will ensure that the website will look good in diffrent devices-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triksnas Main Page</title>
    <!--Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
    <!--Linking css file-->
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <header>
      <!--Added a logo and a button-->
      <div class="Triksnas_Image">
        <img src="Images/Triksnas_Logo.png" alt="Triksnas Logo" width="100" height="100">
      </div>
      <button class="navigation-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
      </button>
      <!--Added a navigation page-->
      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#games">Games</a></li>
          <li><a href="#about">About Us</a></li>
        </ul>
      </nav>
    </header>

    <!--Introduction-->
    <section class="intro" id="home">
      <h1 class="section__title section__title--intro">
        Hi, We are <strong>Triksnas</strong>
      </h1>
      <p class="section__subtitle section__subtitle--intro">front-end dev</p>
      <img src="Images/Squad.JPG" alt="A Picture of the Squad">
    </section>

    <!--Games-->
    <section class="games_list" id="games">
      <h2 class="section__title section__title--games">List of our Games:</h2>
      <div class="games">
        <h3>Blackjack</h3>
        <p></p>
      </div>
    </section>

    <!--About Us-->
    <section class="about_us" id="about">
      
      <div class="row">
        <div class="column">
          <img src="Images/Raj.jpg" alt="Picture of Raj" style="width: 100%">
        </div>
        <div class="column">
          <img src="Images/Rutvik.jpg" alt="Picture of Rutvik" style="width: 100%">
        </div>
        <div class="column">
          <img src="Images/Dhaval.jpg" alt="Picture of Dhaval" style="width: 100%">
        </div>
      </div>
      
    </section>

  </body>

</html>
